* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* This styling is used to style the links used for navigation */
a {
    color: #ffffff;
    text-decoration: none;
}

/* This styling is used to style the background of the body */
body {
    background-color: #d9dcd6;
}

/* This styling is used to apply style in the footer */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 20px;
}

/* This styling is used to style h1 elements */
h1 {
    display: inline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 48px;
    margin-left: 25px;
}

/* FUTURE CONSIDERATIONS: THE HEADER IS NOT RESPONSIVE TO SMALLER SCREEN SIZES */
header {
    padding: 20px;
    background-color: #2a607c;
    color: #ffffff;
}

/* This styling is used to style alt-tags */
img {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    color: darkblue;
    margin-left: 25px;
}

/* This styling is used to style the navigation links in the header */
li {
    display: inline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-right: 20px;
    padding-top: 15px;
    float: right;
}

/* This styling is used to style paragraphs */
p {
    font-size: 20px;
}

/* This styling is used to style the unordered lists used for navigation in the header */
ul {
    display: inline;
    list-style-type: none;
}

/* The contentLeftSection class applies styling to the aside containing Search Engine Optimization, Online Reputation Managment, and Social Media Marketing.  Additional styling is applied to each section within the aside by the leftAsideSectionFormatting class*/
/* FUTURE CONSIDERATIONS: THE LEFT SECTION IS NOT RESPONSIVE TO SMALLER SCREEN SIZES. */
.contentLeftSection {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* The contentRightAside class applies styling to the aside containing Lead Generation, Brand Awareness, and Cost Management.  Additional syling is applied to each section within the aside by the rightAsideSectionFormatting class */
/* FUTURE CONSIDERATIONS: THE RIGHT ASIDE IS NOT RESPONSIVE TO SMALLER SCREEN SIZES. */
.contentRightAside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* The float-left and float-right classes apply styling to the ContentLeftSection images */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* The leftSectionFormatting class applies styling to the Search Engine Optimization, Online Reputation Managment, and Social Media Marketing sections within left section.  Additional formatting is applied by the contentLeftSection class */
.leftSectionFormatting {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.leftSectionFormatting h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.leftSectionFormatting img {
    max-height: 200px;
}

/* The rightAsideSectionFormatting class applies styling to the Lead Generation, Brand Awareness, and Cost Management sections within right aside.  Additional formatting is applied by the contentRightAside class */
.rightAsideSectionFormatting {
    margin-bottom: 32px;
    color: #ffffff;
}

.rightAsideSectionFormatting h3 {
    margin-bottom: 10px;
    text-align: center;
}

.rightAsideSectionFormatting img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* The seo class applies styling to the letters seo in the logo located in the header */
.seo {
    color: #d9dcd6;
}

/* NOTE TO DEVELOPER: THE SEOFOOTER CLASS APPLIES STYLING TO THE LETTERS IN THE COMPANY NAME LOCATED IN THE FOOTER */
/* FUTURE CONSIDERATIONS: IS THERE A COMPANY STYLE GUIDE WITH COLOR SPECIFICATIONS FOR LOGO ON WHITE BACKGROUND? */
.seofooter {
    color: #515250;
}

/* The teamPicture class applies styling to the picture located under the header */
/* FUTURE CONSIDERATIONS: THE teamPicture SKEWS AT DIFFERENT SCREEN SIZES. */
.teamPicture {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

/* Last Revised 4/30/21 */
/* Raemarie Oatman ramemarie.oatman@gmail.com */
/* Homework Week 1 - "01 HTML, CSS, and Git:  Code Refactor" */